## FIFA World Cup Maches Data cleaning

### Import necessary libraries

In [2]:
import pandas as pd 
import numpy as np

In [3]:
# Get/load the dataset
world_cups =  pd.read_csv('C:\\Users\\fevi\\Documents\\IRONHACK\\Iron_proj_1\\data\\origional data file\\WorldCupMatches.csv')
players =  pd.read_csv('C:\\Users\\fevi\\Documents\\IRONHACK\\Iron_proj_1\\data\\origional data file\\WorldCupPlayers.csv')
matches = pd.read_csv('C:\\Users\\fevi\\Documents\\IRONHACK\\Iron_proj_1\\data\\origional data file\\WorldCups.csv')

### First dataset look

In [66]:
# Check the dataset how many columns and rows it has
world_cups.shape

In [67]:
# Check the first three raw of the world_cups dataset
world_cups.head(3)

In [68]:
# Check the last three raws of the dataset
world_cups.tail(3)

In [69]:
# Let's check how many null values in total we have in these dataset
world_cups.isnull().sum()

In [70]:
# Check the dataset how many columns and raws it has
players.shape

In [71]:
# Check the first three raws the players dataset
players.head(3)

In [72]:
# Check the the last three dataset
players.tail(3)

In [73]:
# Let's check if there is a null value in this dataset
players.isnull().sum()

In [74]:
# Check the dataset how many clumns and raws it has
matches.shape

In [75]:
# Check the first three rows of the dataset
matches.head(3)

In [76]:
# Check the last three raws of the dataset
matches.tail(3)

In [77]:
# Check if there is a null value in the dataset
matches.isnull().sum() # Have no null value

### Data Cleaning

In [78]:
# First remove the null values from "world_cups" table 
world_cups.dropna(subset = ['Year'], inplace = True)
world_cups.tail(3)

In [79]:
# let's select the catagorical variables and check their frequencies 
world_cups_cat = world_cups[['Stage','Stadium','City','Home Team Name','Away Team Name','Win conditions','Referee','Assistant 1','Assistant 2','Home Team Initials','Away Team Initials']]
for col in world_cups_cat:
    print(world_cups_cat[col].value_counts())
    print()

Since last 19 years, there are nations whose names has been changed after world war 2.So, first we need to set those names.

In [80]:
# We need to make the catagories of "Home Team Name" column value consistence 
names = world_cups[world_cups['Home Team Name'].str.contains('rn">')]['Home Team Name'].value_counts()
names

In [81]:
# extract the index values from names 
names.index

In [82]:
# Extract the index of the names value and change it into list datatype so that we can apply for loop 
wrong = list(names.index)
wrong

In [83]:
# Using list comprehension technique split each data value in to two and extract the data after ">" sign 
correct = [name.split('>')[1] for name in wrong] # here [1] indicates the second index of the list element
correct

In [84]:
# Let's replace the rest of the wrong stadium name columns with the right representation 
prior = ['Germany FR','Maracan� - Est�dio Jornalista M�rio Filho', 'Estadio do Maracana']
new = ['Germany', 'Maracanã Stadium','Maracanã Stadium']

In [85]:
# Lets combine all the wrong and right lists together
wrong = wrong + prior
correct = correct + new

In [86]:
# Let's check both lists 
wrong , correct

In [87]:
# By using the above cleaned list of "Home Team Name" correct for all three datasets
for index, word in enumerate(wrong):
    world_cups = world_cups.replace(wrong[index], correct[index])
    
for index, word in enumerate(wrong):
    matches = matches.replace(wrong[index], correct[index])
    
for index, word in enumerate(wrong):
    players = players.replace(wrong[index], correct[index])

In [88]:
# Let's check if there is any names with 'rn">' in our dataset
names = world_cups[world_cups['Home Team Name'].str.contains('rn">')]['Home Team Name'].value_counts()
names # It shows an empty list because there is no value with the string 'rn">'

Next, let's correct the datatypes of the variables in each dataframe like datetime, year and change numerical variables datatype to integer.

In [89]:
# Display the variables with their respective datatype
world_cups.info()

In [90]:
# First let's check if there is no null value in any of variables
world_cups.isnull().sum()

In [91]:
# There are two null values in "Attendance" variable and we will remove it now
world_cups.dropna(subset = ['Attendance'], inplace = True)
world_cups.isnull().sum()

In [33]:
# Now let's change the datatypes of numeric values into integer
world_cups[['Year','Home Team Goals','Away Team Goals','Attendance','Half-time Home Goals','Half-time Away Goals','RoundID','MatchID']] = world_cups[['Year','Home Team Goals','Away Team Goals','Attendance','Half-time Home Goals','Half-time Away Goals','RoundID','MatchID']].astype(int)

In [34]:
# Change the datetime object datatype to datatime and change the format
world_cups['Datetime'] = pd.to_datetime(world_cups['Datetime'])
world_cups['Datetime'] = world_cups['Datetime'].apply(lambda x: x.strftime('%d %b, %Y'))

In [36]:
# Let's drop some of the columns that we don't want for our analysis
world_cups = world_cups.drop(columns=['Stage','Win conditions','Half-time Home Goals','Half-time Away Goals','Referee','Assistant 1','Assistant 2','RoundID','MatchID','Home Team Initials','Away Team Initials'])

In [42]:
# Lastly , let's change all the column names in to lower case
world_cups.columns = ['year','datetime','stadium','city','home team name','home team goals','away team goals','away team name','attendance']

In [92]:
# Now let's check our clean dataset
world_cups.head()

In [93]:
# Let's check for datatype and null value
world_cups.info()

Let's move to the second dataframe that must be cleaned "Players"

In [49]:
# Drop unnecessay columns and change their name to lower case
players.drop(['Position','Event'], axis=1, inplace=True)
players.columns = ['roundid','matchid','team initials','coach name','line-up','shirt number','player name']

In [94]:
# Check for null values and datatypes
players.info()

Now we have reached to the last dataset to be cleaned "Matches"; based on our observation of the dataset in the beginning we will drop unwanted columns and column names to lower case .

In [60]:
# Drop unnecessay columns and change their name to lower case
matches.drop(['Fourth','QualifiedTeams','MatchesPlayed'], axis=1, inplace=True)
matches.columns = ['year','country','winner','runners-up','third','goals_scored','attendance']

In [95]:
# Check the dataset
matches.head()

In [65]:
# Save the cleaned datasets
world_cups.to_csv("world_cup_cl.csv")
matches.to_csv("matches_cl.csv")
players.to_csv("players_cl.csv")