## FIFA World Cup Maches Data Analysis

Question/ Problem statement: What are the main factors leads once country to win in this tournament?
                             
           General question: How was the performance of the countries during this period of times.


    Hyphothesis: To be a winner having a good goal keeper is very significant.
    
    
    Dataset description: - Dataset is until 1930 to 2014
                         - Some column meannings:-
                           Runners-up: second
                           Home team name : When they play in their venue.
                           Away team name : the team that travels to the opponent's stadium or venue to play the match.
                           
                           
    Data cleaning: Handling missing value
                   Drop unnecessary columns
                   Change datatypes/ correct the datype of the columns
                   Data inconsistency issue in some column values
                   Change column names to new names
                   write the column names in to small letters

### Import neccessary libraries

In [90]:
import pandas as pd
import numpy as np

In [93]:
# Get/load the dataset
world_cups =  pd.read_csv('C:\\Users\\fevi\\Documents\\IRONHACK\\Iron_proj_1\\data\\origional data file\\WorldCupMatches.csv')
players =  pd.read_csv('C:\\Users\\fevi\\Documents\\IRONHACK\\Iron_proj_1\\data\\origional data file\\WorldCupPlayers.csv')
matches = pd.read_csv('C:\\Users\\fevi\\Documents\\IRONHACK\\Iron_proj_1\\data\\origional data file\\WorldCups.csv')

### First dataset look

In [94]:
# Check the dataset how many columns and rows it has
world_cups.shape

(4572, 20)

In [95]:
# Check the first five raw of the world_cups dataset
world_cups.head(3)

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
0,1930.0,13 Jul 1930 - 15:00,Group 1,Pocitos,Montevideo,France,4.0,1.0,Mexico,,4444.0,3.0,0.0,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201.0,1096.0,FRA,MEX
1,1930.0,13 Jul 1930 - 15:00,Group 4,Parque Central,Montevideo,USA,3.0,0.0,Belgium,,18346.0,2.0,0.0,MACIAS Jose (ARG),MATEUCCI Francisco (URU),WARNKEN Alberto (CHI),201.0,1090.0,USA,BEL
2,1930.0,14 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,2.0,1.0,Brazil,,24059.0,2.0,0.0,TEJADA Anibal (URU),VALLARINO Ricardo (URU),BALWAY Thomas (FRA),201.0,1093.0,YUG,BRA

In [96]:
# Check the last three raws of the dataset
world_cups.tail()

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
4567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4568,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4569,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4570,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4571,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [97]:
# Check the dataset how many columns and raws it has
players.shape

(37784, 9)

In [98]:
# Check the first three raws the players dataset
players.head(3)

,RoundID,MatchID,Team Initials,Coach Name,Line-up,Shirt Number,Player Name,Position,Event
0,201,1096,FRA,CAUDRON Raoul (FRA),S,0,Alex THEPOT,GK,NaN
1,201,1096,MEX,LUQUE Juan (MEX),S,0,Oscar BONFIGLIO,GK,NaN
2,201,1096,FRA,CAUDRON Raoul (FRA),S,0,Marcel LANGILLER,NaN,G40'

In [99]:
# Check the the last three dataset
players.tail(3)

,RoundID,MatchID,Team Initials,Coach Name,Line-up,Shirt Number,Player Name,Position,Event
37781,255959,300186501,ARG,SABELLA Alejandro (ARG),N,20,AGUERO,NaN,IH46' Y65'
37782,255959,300186501,GER,LOEW Joachim (GER),N,21,MUSTAFI,NaN,NaN
37783,255959,300186501,ARG,SABELLA Alejandro (ARG),N,23,BASANTA,NaN,NaN

In [100]:
# Let's check if there is a null value in this dataset
players.isnull().sum()

RoundID              0
MatchID              0
Team Initials        0
Coach Name           0
Line-up              0
Shirt Number         0
Player Name          0
Position         33641
Event            28715
dtype: int64

In [101]:
# Check the dataset how many clumns and raws it has
matches.shape

(20, 10)

In [102]:
# Check the first three rows of the dataset
matches.head(3)

,Year,Country,Winner,Runners-Up,Third,Fourth,GoalsScored,QualifiedTeams,MatchesPlayed,Attendance
0,1930,Uruguay,Uruguay,Argentina,USA,Yugoslavia,70,13,18,590.549
1,1934,Italy,Italy,Czechoslovakia,Germany,Austria,70,16,17,363.000
2,1938,France,Italy,Hungary,Brazil,Sweden,84,15,18,375.700

In [103]:
# Check the last three raws of the dataset
matches.tail(3)

,Year,Country,Winner,Runners-Up,Third,Fourth,GoalsScored,QualifiedTeams,MatchesPlayed,Attendance
17,2006,Germany,Italy,France,Germany,Portugal,147,32,64,3.359.439
18,2010,South Africa,Spain,Netherlands,Germany,Uruguay,145,32,64,3.178.856
19,2014,Brazil,Germany,Argentina,Netherlands,Brazil,171,32,64,3.386.810

In [104]:
# Check if there is a null value in the dataset
matches.isnull().sum() # Have no null value

Year              0
Country           0
Winner            0
Runners-Up        0
Third             0
Fourth            0
GoalsScored       0
QualifiedTeams    0
MatchesPlayed     0
Attendance        0
dtype: int64

### Data Cleaning

In [105]:
# First remove the null values from "world_cups" table which are situated at the end of the dataset
world_cups.dropna(subset = ['Year'], inplace = True)
world_cups.tail(3)

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
849,2014.0,09 Jul 2014 - 17:00,Semi-finals,Arena de Sao Paulo,Sao Paulo,Netherlands,0.0,0.0,Argentina,Argentina win on penalties (2 - 4),63267.0,0.0,0.0,C�neyt �AKIR (TUR),DURAN Bahattin (TUR),ONGUN Tarik (TUR),255955.0,300186490.0,NED,ARG
850,2014.0,12 Jul 2014 - 17:00,Play-off for third place,Estadio Nacional,Brasilia,Brazil,0.0,3.0,Netherlands,,68034.0,0.0,2.0,HAIMOUDI Djamel (ALG),ACHIK Redouane (MAR),ETCHIALI Abdelhak (ALG),255957.0,300186502.0,BRA,NED
851,2014.0,13 Jul 2014 - 16:00,Final,Estadio do Maracana,Rio De Janeiro,Germany,1.0,0.0,Argentina,Germany win after extra time,74738.0,0.0,0.0,Nicola RIZZOLI (ITA),Renato FAVERANI (ITA),Andrea STEFANI (ITA),255959.0,300186501.0,GER,ARG

In [106]:
# let's select the catagorical variables and check their frequencies 
world_cups_cat = world_cups[['Stage','Stadium','City','Home Team Name','Away Team Name','Win conditions','Referee','Assistant 1','Assistant 2','Home Team Initials','Away Team Initials']]
for col in world_cups_cat:
    print(world_cups_cat[col].value_counts())
    print()

Round of 16                 72
Quarter-finals              66
Group 1                     62
Group B                     60
Group A                     60
Group 2                     59
Group 3                     56
Group 4                     55
Group F                     48
Group D                     48
Group E                     48
Group C                     48
Semi-finals                 36
Group G                     30
Group H                     30
Final                       20
Match for third place       15
Group 6                     12
First round                  9
Preliminary round            8
Group 5                      6
Third place                  2
Play-off for third place     2
Name: Stage, dtype: int64

Estadio Azteca             19
Olympiastadion             14
Jalisco                    14
Nou Camp - Estadio Le�n    11
Estadio do Maracana        10
                           ..
Littorio                    1
Velodrome Municipale        1
Tunavallen                  1
Rimnersvallen               1
Stade de la Meinau          1
Name: Stadium, Length: 181, dtype: int64

Mexico City        23
Rio De Janeiro     18
Montevideo         18
Guadalajara        17
Johannesburg       15
                   ..
Strasbourg          1
Udevalla            1
Antibes             1
Le Havre            1
Lugano              1
Name: City, Length: 151, dtype: int64

Brazil                       82
Italy                        57
Argentina                    54
Germany FR                   43
England                      35
                             ..
Canada                        1
rn">Serbia and Montenegro     1
rn">Trinidad and Tobago       1
Wales                         1
New Zealand                   1
Name: Home Team Name, Length: 78, dtype: int64

Mexico               38
France               30
Spain                29
Argentina            27
England              27
                     ..
Czech Republic        1
Iraq                  1
Cuba                  1
Dutch East Indies     1
Zaire                 1
Name: Away Team Name, Length: 83, dtype: int64

                                                 787
Italy win after extra time                         5
Germany win after extra time                       4
Argentina win after extra time                     4
Win on Golden Goal                                 3
Brazil win on penalties (3 - 2)                    3
Belgium win after extra time                       3
England win after extra time                       3
Argentina win on penalties (2 - 4)                 2
France win after extra time                        2
Netherlands win on penalties (4 - 3)               2
Costa Rica win on penalties (5 - 3)                2
France win on penalties (3 - 4)                    2
Bulgaria win on penalties (1 - 3)                  1
Uruguay win after extra time                       1
Ukraine win on penalties (0 - 3)                   1
Brazil win after extra time                        1
 win on penalties (3 - 4)                          1
Germany win on penalties (4 - 2)                   1
Germany FR win after extra time                    1
Spain win after extra time                         1
Argentina win on penalties (4 - 3)                 1
 win on penalties (2 - 3)                          1
Paraguay win on penalties (5 - 3)                  1
Ghana win after extra time                         1
Spain win on penalties (3 - 2)                     1
Portugal win on penalties (1 - 3)                  1
Austria win after extra time                       1
Belgium win on penalties (4 - 5)                   1
Hungary win after extra time                       1
Brazil win on penalties (4 - 2)                    1
Italy win on penalties (5 - 3)                     1
Republic of Ireland win on penalties (5 - 4)       1
Yugoslavia win after extra time                    1
Northern Ireland win after extra time              1
Sweden win on penalties (4 - 5)                    1
 win on penalties (5 - 4)                          1
Czechoslovakia win after extra time                1
Uruguay win on penalties (4 - 2)                   1
 win on penalties (4 - 3)                          1
Germany FR win on penalties (4 - 1)                1
Korea Republic win on penalties (3 - 5)            1
Cameroon win after extra time                      1
Name: Win conditions, dtype: int64

Ravshan IRMATOV (UZB)             10
RODRIGUEZ Marco (MEX)              8
LARRIONDA Jorge (URU)              8
QUINIOU Joel (FRA)                 8
ARCHUNDIA Benito (MEX)             8
                                  ..
ESCHWEILER Walter (GER)            1
JACOME GUERRERO Elias V. (ECU)     1
BIWERSI Ferdinand (GER)            1
PHILLIPS Hugh (SCO)                1
GARDELLI Mario (BRA)               1
Name: Referee, Length: 366, dtype: int64

HERMANS Peter (BEL)                 7
BERANEK Alois (AUT)                 7
VERGARA Hector (CAN)                7
GONZALEZ ARCHUNDIA Alfonso (MEX)    7
ACHIK Redouane (MAR)                7
                                   ..
NDIAYE Youssou (SEN)                1
BUCHMUELLER Fritz (SUI)             1
VALLARINO Ricardo (URU)             1
GOLDSTEIN Leo (USA)                 1
IVANCSICS Mihaly (HUN)              1
Name: Assistant 1, Length: 387, dtype: int64

KOCHKAROV Bakhadyr (KGZ)    10
VERGARA Hector (CAN)         7
YUSTE Juan (ESP)             7
VROMANS Walter (BEL)         7
LISTKIEWICZ Michal (POL)     7
                            ..
BULNES R. (CHI)              1
VAN RAVENS Laurens (NED)     1
LOUSTAU Juan (ARG)           1
KLEIN Abraham (ISR)          1
POUDEVIGNE Jacques (FRA)     1
Name: Assistant 2, Length: 408, dtype: int64

BRA    82
ITA    57
ARG    54
FRG    43
ENG    35
       ..
JAM     1
CAN     1
SCG     1
WAL     1
SRB     1
Name: Home Team Initials, Length: 77, dtype: int64

MEX    38
FRA    30
ESP    29
ARG    27
ENG    27
       ..
CZE     1
TOG     1
INH     1
ZAI     1
CUB     1
Name: Away Team Initials, Length: 82, dtype: int64

Since last 19 years, there are nations whose names has been changed after world war 2.So, first we need to set those names.

In [107]:
# We need to make the catagories of "Home Team Name" column value consistence 
names = world_cups[world_cups['Home Team Name'].str.contains('rn">')]['Home Team Name'].value_counts()
names

rn">Republic of Ireland       5
rn">Serbia and Montenegro     1
rn">Bosnia and Herzegovina    1
rn">Trinidad and Tobago       1
rn">United Arab Emirates      1
Name: Home Team Name, dtype: int64

In [108]:
names.index

Index(['rn">Republic of Ireland', 'rn">Serbia and Montenegro',
       'rn">Bosnia and Herzegovina', 'rn">Trinidad and Tobago',
       'rn">United Arab Emirates'],
      dtype='object')

In [109]:
# Extract the index of the names value and change it into list datatype 
wrong = list(names.index)
wrong

['rn">Republic of Ireland',
 'rn">Serbia and Montenegro',
 'rn">Bosnia and Herzegovina',
 'rn">Trinidad and Tobago',
 'rn">United Arab Emirates']

In [110]:
# Create using list comprehension technique split each data value in to two and extract the data after ">" sighn 
correct = [name.split('>')[1] for name in wrong] # here [1] indicates the secound index of the list element
correct

['Republic of Ireland',
 'Serbia and Montenegro',
 'Bosnia and Herzegovina',
 'Trinidad and Tobago',
 'United Arab Emirates']

In [111]:
# Let's replace the rest of the wrong stadium name columns with the right representation 
old = ['Germany FR','Maracan� - Est�dio Jornalista M�rio Filho', 'Estadio do Maracana']
new = ['Germany', 'Maracanã Stadium','Maracanã Stadium']

In [112]:
# Lets combine all the wrong and right lists together
wrong = wrong + old
correct = correct + new

In [113]:
# Let's check both the lists 
wrong , correct

(['rn">Republic of Ireland',
  'rn">Serbia and Montenegro',
  'rn">Bosnia and Herzegovina',
  'rn">Trinidad and Tobago',
  'rn">United Arab Emirates',
  'Germany FR',
  'Maracan� - Est�dio Jornalista M�rio Filho',
  'Estadio do Maracana'],
 ['Republic of Ireland',
  'Serbia and Montenegro',
  'Bosnia and Herzegovina',
  'Trinidad and Tobago',
  'United Arab Emirates',
  'Germany',
  'Maracanã Stadium',
  'Maracanã Stadium'])

In [114]:
# By using the above cleaned list of "Home Team Name" correct for all three of the datasets
for index, word in enumerate(wrong):
    world_cups = world_cups.replace(wrong[index], correct[index])
    
for index, word in enumerate(wrong):
    matches = matches.replace(wrong[index], correct[index])
    
for index, word in enumerate(wrong):
    players = players.replace(wrong[index], correct[index])

In [130]:
# Let's check if there is any names with 'rn">' 
names = world_cups[world_cups['Home Team Name'].str.contains('rn">')]['Home Team Name'].value_counts()
names # It shows an empty list

Series([], Name: Home Team Name, dtype: int64)

Next, let's correct the datatypes of the variables in each dataframe like datetime, year and change numerical values to integer.

In [136]:
world_cups.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 852 entries, 0 to 851
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Year                  852 non-null    float64
 1   Datetime              852 non-null    object
 2   Stage                 852 non-null    object
 3   Stadium               852 non-null    object
 4   City                  852 non-null    object
 5   Home Team Name        852 non-null    object
 6   Home Team Goals       852 non-null    float64
 7   Away Team Goals       852 non-null    float64
 8   Away Team Name        852 non-null    object
 9   Win conditions        852 non-null    object
 10  Attendance            850 non-null    float64
 11  Half-time Home Goals  852 non-null    float64
 12  Half-time Away Goals  852 non-null    float64
 13  Referee               852 non-null    object
 14  Assistant 1           852 non-null    object
 15  Assistant 2           852 non-null    object
 16  RoundID               852 non-null    float64
 17  MatchID               852 non-null    float64
 18  Home Team Initials    852 non-null    object
 19  Away Team Initials    852 non-null    object
dtypes: float64(8), object(12)
memory usage: 139.8+ KB

In [171]:
# First let's check if there is no null value in any of variables
world_cups.isnull().sum()

Year                    0
Datetime                0
Stage                   0
Stadium                 0
City                    0
Home Team Name          0
Home Team Goals         0
Away Team Goals         0
Away Team Name          0
Win conditions          0
Attendance              2
Half-time Home Goals    0
Half-time Away Goals    0
Referee                 0
Assistant 1             0
Assistant 2             0
RoundID                 0
MatchID                 0
Home Team Initials      0
Away Team Initials      0
dtype: int64

In [174]:
# There are two null values in "Attendance" variable and we will remove it now
# df.dropna(subset=['column_name'], inplace=True)
world_cups.dropna(subset = ['Attendance'], inplace = True)
world_cups.isnull().sum()

Year                    0
Datetime                0
Stage                   0
Stadium                 0
City                    0
Home Team Name          0
Home Team Goals         0
Away Team Goals         0
Away Team Name          0
Win conditions          0
Attendance              0
Half-time Home Goals    0
Half-time Away Goals    0
Referee                 0
Assistant 1             0
Assistant 2             0
RoundID                 0
MatchID                 0
Home Team Initials      0
Away Team Initials      0
dtype: int64

In [137]:
world_cups.head(1)

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
0,1930.0,13 Jul 1930 - 15:00,Group 1,Pocitos,Montevideo,France,4.0,1.0,Mexico,,4444.0,3.0,0.0,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201.0,1096.0,FRA,MEX

In [201]:
# Now let's change the datatypes of numeric values into integer
world_cups[['Year','Home Team Goals','Away Team Goals','Attendance','Half-time Home Goals','Half-time Away Goals','RoundID','MatchID']] = world_cups[['Year','Home Team Goals','Away Team Goals','Attendance','Half-time Home Goals','Half-time Away Goals','RoundID','MatchID']].astype(int)

In [202]:
# Change the datetime object datatype to datatime and change the format
world_cups['Datetime'] = pd.to_datetime(world_cups['Datetime'])
world_cups['Datetime'] = world_cups['Datetime'].apply(lambda x: x.strftime('%d %b, %Y'))

In [203]:
# Now let's check our dataset
world_cups.head(1)

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
0,1930,"13 Jul, 1930",Group 1,Pocitos,Montevideo,France,4,1,Mexico,,4444,3,0,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201,1096,FRA,MEX

Let's move to the second dataframe that must be cleaned "Players"

In [210]:
# Drop unnecessay columns from players dataframe
players.drop(['Position', 'Event'], axis=1, inplace=True)
# Check the dataset
players.head(1)

,RoundID,MatchID,Team Initials,Coach Name,Line-up,Shirt Number,Player Name
0,201,1096,FRA,CAUDRON Raoul (FRA),S,0,Alex THEPOT

In [212]:
# Save the cleaned datasets
world_cups.to_csv("world_cup_cl.csv")
matches.to_csv("matches_cl.csv")
players.to_csv("players_cl.csv")